---
import Layout from 'layout/Layout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
)
---
<Layout>
    <section class='flex items-center justify-center pb-36'>
        <ul class='flex items-center justify-center gap-10 flex-wrap'>
            {
                posts.map((post) => (
                    <a href={`/blog/${post.slug}/`} class=''>
                        <li class='card w-96 bg-neutral shadow-xl'>
                            <figure><img src={post.data.image} alt={`Imagen del post: ${post.data.title}`} /></figure>
                            <div class='card-body'>
                                <div class='card-body'>
                                    <h2 class='card-title'>
                                        {post.data.title}
                                        <div class="badge badge-info">NEW</div>
                                    </h2>
                                    <p class=''>{post.data.description}</p>
                                    <div class='card-actions justify-end'>
                                        {post.data.tags.map((tag) => (
                                            <span class='badge badge-outline'>{tag}</span>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </a>
                ))
            }
        </ul>
    </section>    
</Layout>