---
import Layout from 'layout/Layout.astro'
import BlogCard from '@components/blog/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

const title = "Blog | LinuDev"
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online."
---
<Layout title={title} description={description}>
  <h2 class='flex items-center justify-center w-full font-mona-sans [font-stretch:ultra-expanded] text-2xl sm:text-3xl md:text-4xl lg:text-6xl pt-10 font-black bg-clip-text text-transparent bg-gradient-red'>Todos los artículos</h2>
	<p class='flex items-center justify-center w-full font-mona-sans text-sm sm:text-lg px-6 pt-4 pb-10 font-medium text-text/60'>{description}</p>
	<ul class='flex flex-col gap-8 sm:border-l sm:border-l-overlay max-w-xs sm:max-w-3xl mx-auto'>
		{
			posts.map((post) => (
				<BlogCard
					title={post.data.title}
					publishDate={post.data.publishDate}
					description={post.data.description}
					url={`/blog/${post.slug}`}
					tags={post.data.tags}
				/>
			))
		}
	</ul>
</Layout>
