---
import Layout from 'layout/Layout.astro'
import BlogCard from '@components/blog/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

const title = "Blog | LinuDev";
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online."
---
<Layout title={title} description={description}>
  <div class='flex items-start justify-start w-full px-6 md:px-24 mb-16'>
    <div class="text-sm breadcrumbs">
      <ul>
        <li><a href='/' class='underline underline-offset-2 text-primary hover:text-accent transition-all ease-in-out duration-500'>Inicio</a></li> 
        <li class='text-accent'>Blog</li>
      </ul>
    </div>
  </div>
  <h2 class='flex items-center justify-center w-full font-mona-sans [font-stretch:ultra-expanded] text-2xl sm:text-3xl md:text-4xl lg:text-6xl py-8 font-black'>Todos los artículos</h2>
  <div class='divider px-24'></div>
	<ul class='flex flex-col gap-8 sm:border-l sm:border-neutral max-w-3xl mx-auto'>
		{
			posts.map((post) => (
				<BlogCard
					title={post.data.title}
					publishDate={post.data.publishDate}
					description={post.data.description}
					url={`/blog/${post.slug}`}
				/>
			))
		}
	</ul>
</Layout>
