---
import Layout from 'layout/Layout.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

// check if post is new with 14 days.
// next to it i can render a badge <span class="badge badge-md">NEW</span>
const postIsNEW = (post) => {
    const today = new Date()
    const postDate = new Date(post.data.publishDate)
    const diffTime = Math.abs(today - postDate)
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24))
    return diffDays <= 14
}
---
<Layout>
    <section class='flex items-center justify-center pb-36'>
        <ul class='flex items-center justify-center gap-10 flex-wrap font-mona-sans'>
            {
                posts.map((post) => (
                    <a href={`/blog/${post.slug}/`} class=''>
                        <li class='card w-96 max-w-xs sm:max-w-none bg-neutral shadow-xl h-full min-h-[450px] justify-between'>
                            <figure class=''><img src={post.data.image} alt={`Imagen del post: ${post.data.title}`} class='h-[14rem] aspect-video'/></figure>
                            <div class='card-body'>
                                <div class='flex-col items-start justify-start gap-2 min-h-[120px]'>
                                    <h2 class='card-title [font-stretch:ultra-expanded] font-bold text-2xl items-start line-clamp-2'>
                                        {post.data.title}
                                    </h2>
                                    <p class=''>{postIsNEW(post) && <span class='badge badge-md badge-accent absolute top-4 right-4'>NEW</span>}</p>
                                    <p class='line-clamp-2 text-neutral-content text-opacity-60'>{post.data.description}</p>
                                </div>
                                <div class='card-actions items-end justify-end'>
                                    { post.data.tags.map((tag) => (
                                        <span class='badge badge-outline badge-lg'>{tag}</span>
                                    ))}
                                </div>
                            </div>
                        </li>
                    </a>
                ))
            }
        </ul>
    </section>
</Layout>