---
import smartypants from 'smartypants'
import siteInfo from '../data/site-info'
import SEO from './SEO.astro'
// const { title = 'LNXMBL', description = 'Bienvenido a casa <3', image = '/lnxmbl.svg' } = Astro.props

export type Props = {
	title?: string
	description?: string
	image?: { src: string; alt: string } 
	canonicalURL?: URL | null
	pageType?: 'website' | 'article'
}

const {
	description = siteInfo.description,
	image = siteInfo.image,
	canonicalURL = new URL(Astro.request.url, Astro.site),
	pageType = 'website',
} = Astro.props as Props

const twitterHandle = "linuxmobileok"

const title = [Astro.props.title, siteInfo.title].filter(Boolean).join(' | ')
const resolvedImage = {
	src: new URL(image.src, Astro.site).toString(),
	alt: image.alt,
}

---

<head>
	<meta charset='utf-8' />
	<meta name='generator' content={Astro.generator} />
	<meta name='viewport' content='initial-scale=1.0, width=device-width, viewport-fit=cover' />
	<meta name='theme-color' content='#151618' />
	
	<title set:html={smartypants(title, 1)}></title>

	<link rel='icon' href='/favicon.svg' type='image/svg+xml' />
	<link rel='mask-icon' href='/mask-icon.svg' color='#000000' />

	<SEO 
		name={siteInfo.name}
		title={title}
		description={description}
		image={resolvedImage}
		twitter={{ handle: twitterHandle }}
		og={{ type: pageType }}
		canonicalURL={canonicalURL}
	/>

	<link rel='preload' href='/Mona-Sans.woff2' as='font' type='font/woff2' crossorigin />
	<link rel='preload' href='/Hubot-Sans.woff2' as='font' type='font/woff2' crossorigin />
	<link rel='preload' href='/main.css' as='style' onload="this.onload=null;this.rel='stylesheet'" />
</head>
