---
import { getCollection } from "astro:content";
import langColors from '@services/getLangColor';

const posts = (await getCollection('projects')).sort(
	(a, b) => b.data.created.valueOf() - a.data.created.valueOf()
)
---

<section class='h-full flex flex-col items-end justify-end mb-8 w-full pr-16'>
	<h2 class='text-4xl md:text-6xl font-mona-sans [font-stretch:ultra-expanded] font-bold w-full'>Trabajos Seleccionados</h2>
    <div class="divider"></div>
</section>
<main class='mb-20 w-full pr-16 flex flex-col items-center justify-center gap-8 transition-all duration-300 ease-in-out hover:text-info'>
  {
    posts.slice(0, 3).map(post => (
      <article class='h-full bg-fixed bg-auto bg-center w-full text-secondary' style={`background-image: url('${post.data.image}')`} data-theme='dark'>
        <div class='backdrop-blur-sm backdrop-brightness-75 w-full h-full flex items-start justify-between flex-col px-6 py-2 pt-4'>
          <div class='flex gap-2 pb-4'>
			    {post.data.techs.map((tag: unknown) => (
			      <div class='badge badge-lg badge-outline text-primary-content'
              style={`color: ${langColors[tag as string]}`}
            >{tag}</div>
			    ))}
					</div>
					<div class='w-full h-full flex flex-col items-center justify-center font-mona-sans'>
          	<h3 class='text-7xl font-black [font-stretch:ultra-expanded] drop-shadow-md'>{post.data.title}</h3>
						<div class='divider px-20'></div>
						<p class='text-md max-w-3xl font-semibold [font-stretch:ultra-expanded] drop-shadow-md'>{post.data.description}</p> 
        	</div>
          <div class='flex justify-end w-full p-6'>
            <a href={post.data.url} class='btn btn-sm btn-outline btn-info' target='_blank' rel='noopener noreferrer'>Visitar Proyecto</a>
          </div>
        </div>
      </article>
  ))
  }
	<div class='flex w-full items-center justify-end px-6'>
		<a href='/projects' class='btn btn-outline btn-secondary'>Todos los Proyectos</a>
	</div>
</main>
