---
import BlogTag from './BlogTag.astro'
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  url: string;
	tags: string;
}

const { title, description, publishDate, url, tags } = Astro.props;
const fullDate = publishDate.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---
<li class="grid grid-cols-1 gap-2 sm:grid-cols-3 h-40 text-text font-mona-sans my-3">
  <a
    class="col-span-3 flex flex-col items-center justify-center gap-y-1 bg-iris/5 text-text backdrop-blur-sm ring-2 ring-base sm:p-5 sm:hover:bg-astro-blue/10 hover:ring-astro-blue rounded-lg relative overflow-hidden transition-all ease-in-out duration-500"
    href={url}>
    <div class="flex items-center justify-center gap-4">
		  <BlogTag Tag={tags}/>
      <div class="">
        <h2 class="text-lg font-extrabold">
          {title}
        </h2>
        <p class="leading-relaxed max-w-prose text-muted/80 font-medium">{description}</p>
      </div>
    </div>
    <time
      datetime={publishDate.toISOString()}
      class="text-xs tracking-wide font-medium text-subtle/50 w-full flex justify-end">
      {fullDate}
    </time>
  </a>
</li>
