---
import BlogTag from './BlogTag.astro'
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  url: string;
	tags: string;
  readTime: string;
}

const { title, description, publishDate, url, tags, readTime } = Astro.props;
const fullDate = publishDate.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---
<li class="text-text font-mona-sans my-3">
  <a
    class="px-4 py-2 flex items-center justify-center gap-4 bg-iris/5 text-text backdrop-blur-sm ring-2 ring-base sm:p-5 sm:hover:bg-astro-blue/10 hover:ring-astro-blue rounded-lg transition-all ease-in-out duration-500"
    href={url}>
    <BlogTag Tag={tags}/>
    <div class="flex flex-col items-center justify-center">
      <div class="">
        <h2 class="text-lg font-extrabold max-w-md">
          {title}
        </h2>
        <p class="leading-relaxed max-w-prose text-muted/80 font-medium">{description}</p>
      </div>
      <div class="flex items-center justify-between w-full pt-4">
        <time
          datetime={publishDate.toISOString()}
          class="text-xs tracking-wide font-medium text-subtle/50">
          {fullDate}
        </time>
        <time class="text-xs tracking-wide font-medium text-subtle/50">{readTime}</time>
      </div>
    </div>
  </a>
</li>
