---
import BlogTag from './BlogTag.astro'
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  url: string;
	tags: string[];
}

const { title, description, publishDate, url, tags } = Astro.props;
const fullDate = publishDate.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---
<li class="grid grid-cols-1 gap-2 sm:grid-cols-3 h-40 text-primary-content font-mona-sans my-3">
  <a
    class="col-span-3 flex flex-col gap-6 bg-base-100/70 text-base-content backdrop-blur-sm ring-2 ring-base-100 sm:gap-4 sm:p-5 sm:hover:bg-neutral-focus/60 hover:ring-primary-focus rounded-lg relative overflow-hidden transition-all ease-in-out duration-500"
    href={url}
  >
    <time
      datetime={publishDate.toISOString()}
      class="block sm:hidden text-sm tracking-wide"
      >{fullDate}
    </time>
    <h2 class="text-lg font-extrabold">
      {title}
    </h2>
    <p class="leading-relaxed max-w-prose text-base-content/60 font-medium">{description}</p>
		<BlogTag Tag={tags}/>
  </a>
</li>
