---
import BlogTag from './BlogTag.astro'
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  url: string;
	tags: string;
  readTime: string;
}

const { title, description, publishDate, url, tags, readTime } = Astro.props;
const fullDate = publishDate.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---
<li class="font-mona-sans">
  <a
    class="flex items-center bg-iris/5 text-text backdrop-blur-sm ring-2 ring-astro-pink/20 p-2 sm:gap-4 sm:p-5 sm:hover:bg-astro-pink/10 hover:ring-astro-pink rounded-lg transition-all ease-in-out duration-500 h-52"
    href={url}
  >
		<BlogTag Tag={tags}/>
    <div class="flex flex-col items-start justify-between">
      <h2 class="text-lg font-extrabold max-w-md">
        {title}
      </h2>
      <p class="leading-relaxed max-w-prose text-iris/90 font-medium text-sm line-clamp-2 sm:line-clamp-3">{description}</p>
      <div class="flex items-center justify-between w-full pt-4">
        <time
          datetime={publishDate.toISOString()}
          class="text-xs tracking-wide text-subtle/70 font-medium w-full">
          {fullDate}
        </time>
        <time class="text-xs tracking-wide font-medium text-subtle/70 w-full flex justify-end">{readTime}</time>
      </div>
    </div>
  </a>
</li>
