---
interface Props {
  title: string;
  description: string;
  publishDate: Date;
  url: string;
}

const { title, description, publishDate, url } = Astro.props;
const fullDate = publishDate.toLocaleDateString('es', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---
<li class="grid grid-cols-1 gap-2 sm:grid-cols-4 text-">
  <time
    datetime={publishDate.toISOString()}
    class="hidden sm:block text-sm tracking-wide text-accent mt-6 sm:ml-6"
    >{fullDate}
  </time>
  <a
    class="col-span-3 flex flex-col gap-2 bg-neutral sm:gap-4 sm:p-5 sm:hover:bg-base-300 transition-colors rounded-lg"
    href={url}
  >
    <time
      datetime={publishDate.toISOString()}
      class="block sm:hidden text-sm tracking-wide text-accent"
      >{fullDate}
    </time>
    <h2 class="text-lg font-semibold text-primary">
      {title}
    </h2>
    <p class="leading-relaxed max-w-prose">{description}</p>
  </a>
</li>
