---
import Layout from './Layout.astro'
import PostPagination from '@components/blog/PostPagination.astro'
import TwitterShare from '@components/blog/TwitterShare.astro'
import Utterance from '@components/Utterance.astro'
import ArticleTemplate from '@components/blog/ArticleTemplate.astro'

interface Props {
	title: string;
	description: string;
	publishDate: string;
	url: string;
	// updatedDate?: Date;
	tags: string;
  readTime: string;
}

const {
	title,
	description,
	publishDate,
	// updatedDate,
	tags,
  readTime,
} = Astro.props
---
<Layout
	title={title}
	description={description}
	publishDate={publishDate}
>
	<div class='flex items-center justify-center w-full h-full mb-16 relative'>
  <TwitterShare Url={Astro.url} Title={title} />
	</div>
  <ul class="flex items-center justify-start w-full">
    <ArticleTemplate
      title: {title}
      publishDate: {publishDate}
      tags: {tags}
      readTime: {readTime}
    />
  </ul>
	<main class='flex flex-col items-center justify-center w-full font-mona-sans px-1'>
		<article 
			class='grid grid-cols-4 prose-sm md:prose-lg prose-img:rounded-xl prose-a:text-astro-yellow max-w-none hover:prose-a:underline hover:prose-a:text-rose focus:prose-a:underline prose-a:no-underline prose-headings:font-mona-sans prose-headings:[font-stretch:ultra-expanded] prose-h2:font-extrabold prose-h3:font-bold prose-p:font-mona-sans prose-a:font-bold prose-headings:bg-gradient-purple prose-headings:bg-clip-text prose-headings:text-transparent prose-headings:pt-6 prose-headings:underline prose-strong:text-astro-purple prose-strong:font-extrabold mt-8 prose:transition-all prose:duration-300 prose:ease-in-out'>
			<slot />
			<Utterance />
		</article>
		<PostPagination />
	</main>
</Layout>

